/* You can add global styles to this file, and also import other style files */

// Colors
$tomato: red;
$start: #1cb840;
$clear: #ca3c3c;
$pause: #df7514;
$black: #000000;
$white: #FFFFFF;

// Utility Classes
.text-center {
    text-align: center;
}