<!--The content below is only a placeholder and can be replaced.-->
<h1>Title</h1>
<p>input box play different song at end timer</p>
<span>tomato svg x1 time (default)</span> <span>tomato svg x2 time</span> <span>tomato svg x3 time</span> <span>tomato svg x4 time</span> <span>tomato svg x5 time</span> 
<section class="pomodoro-timer">
  <div class="timer">
    <div>
        <h1>CSS drawing of tomato timer</h1>
        <p>animate different colors for length passed</p>
        <p>show time left</p>
    </div>
  </div>
</section>
<button>Start</button>

<h1>extras</h1>
<p>have option to do temp save of tomatos in session</p>
<p>when done with each tomato, show fun message after:</p>
<ul>
    <li>you should drink some water</li>
    <li>get a snack</li>
    <li>take a walk</li>
    <li>do some stretching</li>
    <li>goof off some</li>
</ul>
<p>return message using random math js</p>
