<section class="options text-center">
  <div class="song-option">
    <input placeholder="Enter a song to play at end of timer" style="width: 16em;">
  </div>
  <div id="time-increment" class="time-options">
    <label class="one">
      <input type="radio" name="toggle">1x <img src="assets/images/tomato.png" class="tomato-icon" alt="tomato svg x1 time (default)" />
    </label>
    <label class="two">
      <input type="radio" name="toggle">2x <img src="assets/images/tomato.png" class="tomato-icon" alt="tomato svg x2 time" />
    </label>
    <label class="three">
      <input type="radio" name="toggle">3x <img src="assets/images/tomato.png" class="tomato-icon" alt="tomato svg x3 time" />
    </label>
    <label class="four">
      <input type="radio" name="toggle">4x <img src="assets/images/tomato.png" class="tomato-icon" alt="tomato svg x4 time" />
    </label>
</div>
</section>
<section class="pomodoro-timer">
  <div class="timer">
    <div>
        <h1>CSS drawing of tomato timer</h1>
        <p>animate different colors for length passed</p>
        <p>show time left</p>
    </div>
  </div>
</section>
<button>Start</button>
