<section class="options text-center">
  <div class="song-option">
    <input placeholder="Enter a song to play at end of timer" style="width: 16em;">
  </div>
  <div class="time-options">
    <button> 1x <img src="assets/images/tomato.png" class="tomato-icon" alt="tomato svg x1 time (default)" /> </button>
    <button> 2x <img src="assets/images/tomato.png" class="tomato-icon" alt="tomato svg x2 time" /> </button>
    <button> 3x <img src="assets/images/tomato.png" class="tomato-icon" alt="tomato svg x3 time" /> </button>
    <button> 4x <img src="assets/images/tomato.png" class="tomato-icon" alt="tomato svg x4 time" /> </button>
    <button> 5x <img src="assets/images/tomato.png" class="tomato-icon" alt="tomato svg x5 time" /> </button>
  </div>
</section>
<section class="pomodoro-timer">
  <div class="timer">
    <div>
        <h1>CSS drawing of tomato timer</h1>
        <p>animate different colors for length passed</p>
        <p>show time left</p>
    </div>
  </div>
</section>
<button>Start</button>
